To create a Python 3.6 environment using pipenv type pipenv --python 3.6. Then to get into the environment, type pipenv shell. From there we can use Tensorflow 1.* by installing it with pip install tensorflow==1.*. We need an older version of tensorflow because tensorflow doesn't support more modern versions of Python before it's major point release upgrade which changed it's internal behaviour. The correct Keras version should be installed with tensorflow at the same time. 